{% extends "personal/header.html" %}
{% block content %}

<body class="page1" id="top">
<!--==============================
              header
=================================-->
<header>
  <div class="container">
    <div class="row">
      <div class="grid_12 rel">
        <h1>
          <a href="home.html">
            <img src="images/kingAzizLogo_web.jpg" alt="Logo alt">
          </a>
        </h1>
      </div>
    </div>
  </div>
  
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 ">
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li class="current"><a href="home.html">Patiant portal</a></li>
               <li><a href="admin/patiant/ehr1/add/">Appointment</a></li>
               <li><a href="contacts.html">Email GP's</a></li>
               <li><a href="admin/patiant/ehr1/add/">Health Records</a></li>
               <li><a href="contacts.html">Payments</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
        </div>
     </div> 
    </div> 
  </section>
  <section class="page1_header">
    <div class="container">
      <div class="row">
        <div class="grid_4">
          <a href="#" class="banner "><div class="maxheight">
            <div class="fa fa-globe"></div>Appointment</div>
          </a>
          <a href="#" class="banner "><div class="maxheight">
            <div class="fa fa-lightbulb-o"></div>Past Recorrds</div>
          </a>
          <a href="#" class="banner "><div class="maxheight1">
            <div class="fa fa-cog"></div>Pateints Profile</div>
          </a>
          <a href="#" class="banner "><div class="maxheight1">
            <div class="fa fa-briefcase"></div>Health plan features</div>
          </a>
        </div>
        <div class="grid_5">
          <h2> <br>
            King Aziz <br>
            BIS</h2>
We help doctors and patients to make an informed decision together </div>
      </div>
    </div>
  </section>
</header>
<div class="block-1">
  <div class="container">
    <div class="row">
      <div class="grid_3">
        <div class="block-1_count"></div>
        <br> 
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        
  
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        <div class="block-1_count"></div>
        
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        <a href="#" class="support"><img src="images/support.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<!--=====================
          Content
======================-->
<section id="content"><div class="ic"></div>
  <div class="container">
    <div class="row">
      <div class="grid_10 preffix_1 ta__center">
        <div class="greet">
          <h2 class="head__1">
            Welcome
          </h2>
          <p> </p>
         
        </div>
      </div>
    </div>
  </div>
  <article class="content_gray">
    <div class="container">
      <div class="row">
        <div class="grid_7">
          <h3>Our Advantages</h3>
          <div class="block-2">
            <img src="images/page1_img1.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
              <div class="text1"><a href="#">Accurate perscriptions</a></div>
              <p>have fun and just answer few interactive questions and explain your medical condition
              <br>
              <a href="#" class="link-1">more</a>
            </div>
          </div>
          <div class="block-2">
            <img src="images/page1_img2.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
              <div class="text1"><a href="#">Critical analysis of the EHR</a></div>
              <p>Our system enables General practitionors to analyse the Heart data Critically</p> Doctors can make more informed decision 
              <br>
              <a href="#" class="link-1">more</a>
            </div>
          </div>
        </div>
        <div class="grid_4 preffix_1">
          <h3>Project Issues</h3>
          <blockquote class="bq1">
            <p>... insert comments</p>
            <span>Liza Jons</span>
          </blockquote>
          <blockquote class="bq1">
            <p>... insert comments</p>
            <span>Mark Brown</span>
          </blockquote>
        </div>
      </div>
    </div>
  </article>
  <div class="container">
    <div class="row">
      <div class="grid_5">
        <h4>About King Aziz </h4>
        <img src="images/page1_img3.jpg" alt="" class="img_inner fleft">
          <p>King Aziz BIS and DSS helps doctors to write a more accurate persciption through using a colabrative decision making model</p>
      </div>
      <div class="grid_4">
        <h4>Solutions</h4>
        <ul class="list-1">
          <li><a href="#">prevent drug interaction </a></li>
          <li><a href="#">Accurate Perscirption</a></li>
          <li><a href="#">critically analysis of symptoms</a></li>
          <li><a href="#">Save an enormouse time for doctors </a></li>
          <li><a href="#">reduce the chance of making a wrong decision</a></li>
          <li><a href="#">Jalesuadaorem ipsum dolor sit ame</a></li>
        </ul>
      </div>
      <div class="grid_3">
        <h4>Contact Info</h4>
        <address>
          <ul class="cont_address">
            <li>University of Canberra Facualty of Business and law</li>
            <li>+1 (800) 123 9876</li>
            <li><a href="#">Abdul Aziz</a></li>
            <li><a href="#">www.demolink.org</a></li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="copyright"><span class="brand">KIng Aziz</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
          <div class="sub-copy">Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div>  
</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>
{% endblock %}	